<?xml version="1.0"?>
<launch>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/> 
    <param name="robot_description" command="$(find xacro)/xacro $(find cartpole)/urdf/cartpolebot.urdf.xacro" />


    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cartpole)/cartpole_view.rviz" required="true"/>

</launch>